@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria:  #181d67;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #7679af;
    --cor-hover: #0f0f0f;

    --fonte-primaria: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Krona One', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    /* width: 100vw; */
    box-sizing: border-box;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    text-align: center;
}

.cabecalho{
    padding: 1% 0%  1%  5%; 
    background-color: var(--cor-primaria);
}
.cebecalho__menu{
    display: flex;
    gap: 5%;
}
.cebecalho__menu__link{
    text-decoration: none;;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
}

.ativo{
    text-shadow: 0 0 5px var(--cor-hover),
    0 0 25px var(--cor-hover),
    0 0 50px var(--cor-hover);
}

.principal{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    gap: 15px;
}

.principal__titulo{
    font-size: 2rem;
    padding: 15px 0 0 0;
}

.principal__sections{
    font-family: var(--fonte-primaria);
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}


.principal__section{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.principal__imagem{
    width: 50%;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--cor-primaria),
    0 0 25px var(--cor-primaria);
}
.principal__imagem__galeria{
    width: 50%;
    border-radius: 5%;
    box-shadow: 0 0 5px var(--cor-primaria),
    0 0 25px var(--cor-primaria);
}

.rodape{
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    padding: 24px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.rodape__link{
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    text-decoration: none;
}

.rodape__link:hover{
    text-shadow: 0 0 0 5px var(--cor-terciaria),
    0 0 0 25px var(--cor-terciaria);
}

@media (max-width: 1200px){
    .cabecalho{
        padding: 1%;
    }
    .cabecalho__menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 5%;
        gap: 5px;
    }
    .principal__sections{
        flex-direction: column;
        padding: 5%;      
    }
    .principal__section{
        width: auto;
    }
}

@media (max-width: 650px){
    .cebecalho__menu__link{
        font-size: 1.2rem;
    }
}
